<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=widht-device, initial-scale=1.0"/>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>+ Gerenciador Incidente</title>
<meta name="author" content="Yago"/>
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
	
	<header th:fragment="cabecalho">
	
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0A66C2;">
		<a class="navbar-brand" th:href="@{/}">
			<img src="/img/logo-branco-horizontal.png" width="200px"/>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
				<span class="navbar-toggler-icon"></span>
		</button>
		
		<div id="navMobile" class="navbar-collapse collapse justify-content-end">
			
			<a class="btn-nav nav-item nav-link" th:href="@{/editarIncidente}"> Editar incidente</a>
			<a class="btn-nav nav-item nav-link" th:href="@{/filtroIncidente}"> Consultar incidente</a>
			
		</div>
	</nav>		
	</header>
	
	<footer th:fragment="rodape">
		<div class="rodape">
			<span>Todos os Direitos Reservados - 2023 &COPY; Yago Fernandes</span>
		</div>
	</footer>
	
	
	<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
</body>