<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=widht-device, initial-scale=1.0"/>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	<title>+ Alterar Incidente</title>
	<meta name="author" content="Yago"/>
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://kit.fontawesome.com/006642858d.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>

<div th:replace="fragmentos/fragmentos :: cabecalho"></div>

<div class="container" style="margin-top: 50px;"></div>
<div class="text-center">
<h4 style="margin-bottom: 50px;">Alterar incidente</h4>
</div>
<hr>
<br>
<form id="myForm" method="post" action="/alterar" th:object="${incidente}">
	<input type="hidden" th:field="*{id_incident}">

	<!-- Nome -->

	<div class="row">
		<div class="col-md-6 form-group offset-md-3">
			<label>Nome do Incidente</label>
			<input class="form-control" placeholder="Ex: Bug no sistema" th:field="*{name}">
		</div>
	</div>

	<!-- Descrição do incidente -->

	<div class="row">
		<div class="col-md-6 form-group offset-md-3">
			<label>Descrição</label>
			<input class="form-control" placeholder="Ex: O que occoreu" th:field="*{description_incident}">
		</div>
	</div>

	<!-- Data de Abertura -->

	<div class="row">
		<div class="col-md-6 form-group offset-md-3">
			<label>Data de Abertura</label>
			<input readonly="readonly" class="form-control" th:field="*{created_at}">
		</div>
	</div>

	<!-- Data de alterção -->

	<div class="row text-center">
		<button type="button" class="btn_index btn-success offset-md-4" style="margin-top: 10px; background-color: green" onclick="getDataHoraAtual()">Alterar incidente</button>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input id="dataIncidente" style="color: black" th:field="*{updated_at}" hidden>
		<a class="btn_index btn-outline-danger" style="margin-top: 10px; color: black" >Voltar</a>
	</div>



</form>
<script src="/js/editarDataUpdate.js"></script>
<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>