@charset "UTF-8";
*{margin: 0; padding: 0; box-sizing: border-box;}
nav{height: 90px; color: #fff;}
a{cursor: pointer; font-weight: bold; text-transform: uppercase; margin-right: 10px;}
.botoes_section{
	min-height: 700px;
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding: 30px;
	position: relative;
}
.wm{width: 50%; float: left;}
.clear{clear: both;}
.center{text-align: center;}
.incidente-container{max-width: 1280px; padding: 2% 2%; margin: 0 auto; margin-top: 200px;}
.texto-centro{color: black; font-size: 3em; font-family: 'Ubunto'; font-weight: bold;}
.btn{width: 280px; color: #fff; border-radius: 10px; border: 3px solid#0A66C2; padding: 20px; font-weight: bold;}
.botoes_incidente{padding: 2% 15%;}
.btn:hover{color: #0A66C2; background-color: rgba(0,0,0,0.5);}
.rodape{color: #fff; background-color: #0A66C2; text-align: center; font-size: 1.25em;}

/* Responsividade */
@media screen and (max-width: 667px){
	
	.wm{width: 100%;}
	nav{height: 100%;}
	.incidente-container{margin-top: 120px;}
}