<!DOCTYPE html>
<html lang="pt-br" xmln:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=widht-device, initial-scale=1.0"/>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Gerenciador Incidente</title>
<meta name="author" content="Yago"/>
<link rel="stylesheet" href="css/style.css"
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">

</head>
<body>
	
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<section id="btn_section" class="botoes_section" style="background-image: url('img/bg-index.jpg');">
		
		<div class="center incidente-container">
			<h1 class="texto-centro">Sistema de gerenciamento de Incidentes</h1>
		
		<div class="botoes_incidente">
			
		<div class="wm">
			<h5 class="btn">Editar incidente</h5>
		</div>
		<div class="wm">
			<h5 class="btn justify-content-center">Consultar Incidente</h5>
		</div>
		<div class="wm">
			<h5 class="btn">Alterar incidente</h5>
		</div>
		<div class="wm">
			<h5 class="btn justify-content-center">Excluir incidente</h5>
		</div>
		<div class="clear"></div>
		</div>
		</div>
	</section>
	
	<div th:replace="fragmentos/fragmentos :: rodape"></div>
	
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap/min.js"></script>
	<script src="js/newScript.js"></script>
	
</body>		
</html>